[submodule "submodules/wasm-spec"]
	path = submodules/wasm-spec
	url = https://github.com/WebAssembly/spec.git
[submodule "submodules/zlib-wasm"]
	path = submodules/zlib-wasm
	url = https://github.com/SCI4THIS/zlib-wasm
[submodule "submodules/tarballjs"]
	path = submodules/tarballjs
	url = https://github.com/ankitrohatgi/tarballjs
[submodule "submodules/coreutils"]
	path = submodules/coreutils
	url = https://github.com/coreutils/coreutils
[submodule "submodules/bash"]
	path = submodules/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "submodules/ncurses"]
	path = submodules/ncurses
	url = https://github.com/mirror/ncurses
[submodule "submodules/rogue"]
	path = submodules/rogue
	url = https://github.com/Davidslv/rogue
[submodule "submodules/vim"]
	path = submodules/vim
	url = https://github.com/vim/vim.git
